# Eclipse
.metadata/
bin/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Arquivos específicos do Eclipse
**/.project
**/.classpath
**/.settings/

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos temporários
*.orig
*.rej
*#
